<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.sunshinelibrary.login"
          android:versionCode="2"
          android:versionName="1.0.2">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<permission android:name="org.sunshinelibrary.login.WHITE_LIST_CHANGED"/>  -->

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <receiver android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".SunLoginService">
            <intent-filter>
                <action android:name="org.sunshinelibrary.loginlimit"/>
            </intent-filter>
        </service>

        <activity android:name=".SignInActivity"
                  android:screenOrientation="sensorLandscape"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>